<label>
  Name: 
  {{input data-test-selector="name" value=changeset.name}}
</label>
<label>
  Class:
  {{input data-test-selector="class" value=changeset.class}}
</label>
<label>
  Race:
  {{input data-test-selector="race" value=changeset.race}}
</label>
<label>
  Age:
  {{input data-test-selector="age" value=changeset.age type="number"}}
</label>
<label>
  Gender: 
  {{input data-test-selector="gender" value=changeset.gender}}
</label>
<label>
  Deity:
  {{input data-test-selector="deity" value=changeset.deity}}
</label>
<label>
  Height:
  {{input data-test-selector="height" value=changeset.height}}
</label>
<label>
  Size:
  {{input data-test-selector="size" value=changeset.size}}
</label>
<label>
  Weight: 
  {{input data-test-selector="weight" value=changeset.weight type="number"}}
</label>

<button data-test-action="save" onclick={{perform save}} disabled={{changeset.isInvalid}}>Save</button>

