
<label>
  Name: 
  {{input value=character.name}}
</label>
<label>
  Class:
  {{input value=character.class}}
</label>
<label>
  Race:
  {{input value=character.race}}
</label>
<label>
  Age:
  {{input value=character.age type="number"}}
</label>
<label>
  Gender: 
  {{input value=character.gender}}
</label>
<label>
  Deity:
  {{input value=character.deity}}
</label>
<label>
  Height:
  {{input value=character.height}}
</label>
<label>
  Size:
  {{input value=character.size}}
</label>
<label>
  Weight: 
  {{input value=character.weight type="number"}}
</label>

<button {{action "save"}}>Save</button>

